@import "node_modules/bootstrap/scss/bootstrap";

.boards-container {
    gap: 100px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
}

.board-cell {
    background-color: rgb(8, 237, 237);
}

#computer-board .board-cell {
    cursor: pointer;
}

#computer-board .board-cell:hover {
    background-color: rgb(33, 160, 160);
}

.ship {
    background-color: grey;
}

.miss {
    background-color: red;
}

.hit {
    background-color: green;
}
